@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@font-face {
  font-family: "VTF Victorianna";
  src: url("fonts/vtf_victorianna_thin-webfont.woff") format('woff');
}
@font-face {
  font-family: "VTF Victorianna";
  src: url("fonts/vtf_victorianna_thin_talic-webfont.woff") format('woff');
  font-style: italic;
}


html,
body {
  height: 100%;
  width: 100%;
/*  background-color: #fffcf6; */
}

* {
  box-sizing: border-box;
}

/* index */

img {
  width: 100%;
  padding-left: 20px;
  padding-right: 50px;
}

h1 {
  font-size: 150px;
  font-weight: 500;
  color: #659e60;
  font-family: 'VTF Victorianna', 'Poiret One', cursive;
  line-height: 90px;
}

h2 {
  font-size: 26px;
}

.topnav a:hover {
  color: #659e60;
}

.topnav-page a:hover {
  color: #659e60;
}

.head1 {
  margin-left: 80px;
}

.greta-text {
  font-size: 'VTF Victorianna';
  font-style: italic;
  display: inline-block;
  margin-left: -80px;
  margin-bottom: 40px;
} 
.gerwin-text {
  display: inline-block;
  margin-left: 0px;
}

.greta h1 {
  margin-top: 20px;
}

.greta h2 {
  padding-top: 50px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-weight: 400;
}

p {
  margin-bottom: 0;
  font-size: 19px;
  font-weight: 400;
}

a.active {
  color: #659e60;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-style: wavy;

}

blockquote {
  font-size: 42px;
  color: #80a9e5;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  width: 70%;
  margin: auto;
}

.gallery1 h2 {
  font-size: 23px;
  text-transform: uppercase;
  color: #659e60;
  font-weight: 600;
}

.gallery1 {
  display: flex;
  margin-top: -100px;
}
.gallery1 img {
  padding: 0;
}

.gallery1 div {
  padding: 10px;
  flex: 1;
}

.gallery1 p {
  color: #659e60;
  font-size: 15px;
  border: 1px solid #659e60;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 20px;
  text-transform: uppercase;
}

.circle {
  color: #659e60;
  font-size: 15px;
  border: 1px solid #659e60;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 20px;
  text-transform: uppercase;
}

main {
  display: flex;
  position: relative;
}

main div {
  flex: 1;
}

body {
  margin: 0;
  font-family: 'montserrat', sans-serif;
  font-size: 15px;
}

.homepage main {
  display: flex;
  margin: auto;
}

.right {
  padding-left: 60px;
  padding-right: 60px;
}

.right img {
  align-items: flex-start;
  width: 25%;
}

.illustration {
  display: flex;
  width: 80%;
  margin: 100px auto;
}

.illustration .flowerpot {
  position: relative;
  top: -30px;
  flex: 50%;
}

.illustration .camera {
  position: relative;
  top: 80px;
  flex: 30%;
}

.illustration div {
  flex: 1;
}

.illustration .flowerpot {
  width: 120%;
}

.pink-box {
  background: #f5dee4;
  position: absolute;
  width: 100vw;
  bottom: -40px;
  left: 0;
  height: 362px;
  z-index: -1;
  display: flex;
}

.pink-box p {
  color: #48200f;
}

.pink-box .left {
  flex: 48%;
}

.pink-box .center {
  flex: 30%;
}

.pink-box .right {
  flex: 22%;
}

.green-box {
  background: #659e60;
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 3px;
  height: 660px;
  z-index: -1;
  display: flex;
  opacity: 50%;
}

.about {
  display: flex;
  color: #659e60;
  padding-right: 200px;
  padding-left: 200px;
}
.about div {
  flex: 1;
}
.about .right {
  padding: 60px 0 0 0;
}

.about img {
  padding-top: 50px;
}

/* navigation */

nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  z-index: 1;
}

.topnav {
  display: flex;
  list-style: none;
}

.topnav li {
  padding-right: 40px;
}

.topnav-page {
  display: flex;
  list-style: none;
}

.topnav-page li {
  padding-right: 40px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

.logo img {
  position: relative;
  width: 120px;
  bottom: 6px;
}

/*.nights-and-weekends nav a {
  color: #fffcf6;
  text-decoration: none;
}*/


/* nights and weekends */

.nights-and-weekends .title .nights-line1 {
  font-family: VTF Victorianna;
  font-style: italic;
  position: relative;
  padding-top: 200px;
}

.nights-and-weekends .title .nights-line2 {
  position: relative;
  top: -150px
}

.nights-and-weekends h2 {
  font-family: 'VTF Victorianna';
  font-size: 90px;
  padding-bottom: 20px;
}

.left-synopsis {
  display: flex;
  color: #659e60;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 50px;
}
.left-synopsis div {
  flex: 1;
}

.left-synopsis .left {
  padding: 0;
}

.left-synopsis img {
  padding-top: -50px;
}

.right-synopsis {
  display: flex;
  color: #659e60;
  padding-top: 50px;
  padding-right: 200px;
  padding-left: 200px;
}
.right-synopsis div {
  flex: 1;
}

.right-synopsis .left {
  padding: 0;
}

.right-synopsis img {
  padding-top: -50px;
}

.nw-image {
  background-image: url('images/nightsweekends_yellow.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 90%;
  margin: auto;
  transition: background-image 1s ease-in-out;
}

.nw-image:hover {
  background-image: url('images/nightsweekends.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 90%;
  margin: auto;
}

.nw-cast {
  display: flex;
  justify-content: space-around;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}

.nw-cast h3,
.nw-cast p {
  font-size: 26px;
  color: #e5bd2f;
  line-height: 20%;
}

blockquote {
  margin-top: 100px;
}

.title {
  text-align: center;
}

.footer {
  background-color: #659e60;
}

.footer p {
  text-align: center;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nights-and-weekends .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nights-and-weekends .title h1 {
  color: #fffcf6;
}

#nightsandweekend-video {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 660px;
  z-index: -3;
}

/* video */

iframe {
  position: absolute;
  width: 100vw;
  height: 660px;
  z-index: -2;
}

/*lady bird*/

#ladybird-video {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 660px;
  z-index: -3;
}

.kyle {
  background-image: url('images/kyle_blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 470px;
  width: 340px;
  margin: auto;
  transition: background-image 1s ease-in-out;
}

.kyle:hover {
  background-image: url('images/kyle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 470px;
  width: 340px;
  margin: auto;
}

.christine {
  background-image: url('images/ladybird_blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 470px;
  width: 340px;
  margin: auto;
  transition: background-image 1s ease-in-out;
}

.christine:hover {
  background-image: url('images/ladybird.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 470px;
  width: 340px;
  margin: auto;
}

.julie {
  background-image: url('images/julie_blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 470px;
  width: 340px;
  margin: auto;
  transition: background-image 1s ease-in-out;
}

.julie:hover {
  background-image: url('images/julie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 470px;
  width: 340px;
  margin: auto;
}

.lady-bird .title .lady-title {
  font-family: VTF Victorianna;
  position: relative;
  padding-top: 200px;
}

.lady-bird .title .bird-title {
  position: relative;
  font-style: italic;
} 

.lady-bird h2 {
  font-family: 'VTF Victorianna';
  font-size: 90px;
  padding-bottom: 20px;
}

.lady-bird .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.lady-bird .title h1 {
  color: #fffcf6;
}

.lb-cast {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin: 50px 0px;
  text-transform: uppercase;
  text-align: center;
}

.lb-cast img {
  width: 100%;
}

.lb-cast .article{
  flex: 1;
  text-align: center;
}

.lb-cast h3,
.lb-cast p {
  font-size: 26px;
  color: #80A9E5;
  line-height: 20%;
  text-align: center;
}

/*little women*/

#littlewomen-video {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 660px;
  z-index: -3;
}

.jo {
  background-image: url('images/jo_pink.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
  transition: background-image 1s ease-in-out;
}

.jo:hover {
  background-image: url('images/jo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
}

.amy {
  background-image: url('images/amy_pink.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
  transition: background-image 1s ease-in-out;
}

.amy:hover {
  background-image: url('images/amy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
}

.meg {
  background-image: url('images/meg_pink.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
  transition: background-image 1s ease-in-out;
}

.meg:hover {
  background-image: url('images/meg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
}

.beth {
  background-image: url('images/beth_pink.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
  transition: background-image 1s ease-in-out;
}

.beth:hover {
  background-image: url('images/beth.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
}

.little-women .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.little-women .title .little-title {
  font-family: VTF Victorianna;
  position: relative;
  padding-top: 200px;
  padding-bottom: -50px;
}

.little-women .title .women-title {
  position: relative;
  font-style: italic;
}

.little-women .title h1 {
  color: #fffcf6;
}

.little-women h2 {
  font-family: 'VTF Victorianna';
  font-size: 90px;
  padding-bottom: 20px;
}

.lw-cast {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}

.lw-cast img {
  width: 100%;
}

.lw-cast .article{
  flex: 1;
  text-align: center;
}

.lw-cast h3,
.lw-cast p {
  font-size: 26px;
  color: #F0B0BF;
  line-height: 20%;
  text-align: center;
}

/* barbie */

#barbie-video {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 660px;
  z-index: -3;
}

.barbie {
  background-image: url('images/barbie_yellow.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
  transition: background-image 1s ease-in-out;
}

.barbie:hover {
  background-image: url('images/barbie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
}

.ken {
  background-image: url('images/ken_yellow.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
  transition: background-image 1s ease-in-out;
}

.ken:hover {
  background-image: url('images/ken.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 686px;
  width: 520px;
  margin: auto;
}

.barbie-page .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.barbie-page .title {
  font-style: italic;
  padding-top: 250px;
  padding-bottom: -50px;
}

.barbie-page .title h1 {
  color: #fffcf6;
}

.barbie-cast {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}

.barbie-cast img {
  width: 100%;
}

.barbie-cast .article{
  flex: 1;
  text-align: center;
}

.barbie-cast h3,
.barbie-cast p {
  font-size: 26px;
  color: #e5bd2f;
  line-height: 20%;
  text-align: center;
}

.barbie-page h2 {
  font-family: 'VTF Victorianna';
  font-size: 90px;
  padding-bottom: 20px;
}